.wrapper {
  display: flex; /* Altere de grid para flex */
  height: 100vh; /* Altura total */
}

.leftSection {
  flex: 1; /* Ambos os elementos ocupam o mesmo espaço */
  display: flex;
  flex-direction: column;
}

.rightSection {
  flex: 1; /* Garante que ocupe o mesmo espaço que o .leftSection */
  display: flex;
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.textContent {
  margin: 80px 50px; /* Espaçamento entre o texto e o fundo azul */
  color: var(--white)
}

.blueBackground {
  background-color: var(--blue); /* Cor de fallback caso a imagem não carregue */
  background-size: cover;
  background-position: center;
  height: 100%;
}

.peoplePhoto {
  width: 100%; /* Garante que a imagem ocupe toda a largura */
  height: 100%; /* Garante que a imagem ocupe toda a altura */
  overflow: hidden; /* Evita que a imagem ultrapasse os limites */
}

.peoplePhoto img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Três colunas de igual largura */
  gap: 15px; /* Espaçamento entre os serviços */
}

